<!DOCTYPE html>
<html>
<title>help</title>

<head>
    <link rel="stylesheet" href='/styles/index.css'>
</head>

<body>
    {{>header}}
    <p>{{textContent}}</p>
    <div class="help-page-container">
        <p>Created at: 08/12/2020 - the worst year of all.</p>
        <p>You can find me <a href="https://www.linkedin.com/in/medea-samniashvili/" target="_blank">here!</a></p>
    </div>
    {{>footer}}
</body>

</html>